* {
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.modalContainerConstelacion {
  
  position: absolute;
  top: 22%;
  left: 1%;
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 4%;
  right: 2%;
}

.closeBtn2{
  position: absolute;
  top: 4%;
  right: 4%;
}

#botonAbsoluto {
  position: absolute;
  bottom: 2%;
  left: 40%;
  width: 20%;
}

#botonAbsoluto2 {
  position: absolute;
  top: 32%;
  left: 12%;
  width: 20%;
}

#botonAbsoluto3 {
  position: absolute;
  bottom: 4%;
  left: 40%;
  width: 20%;
}

#botonAbsoluto4 {
  position: absolute;
  top: 18%;
  right: 8%;
  width: 20%;
}
#botonAbsoluto5 {
  position: absolute;
  top: 23%;
  left: 11%;
  width: 20%;
}

#btnMS31 {
  position: absolute;
  bottom: 10%;
  left: 28%;
  width: 6%;
}

#btnMS32 {
  position: absolute;
  bottom: 10%;
  left: 47%;
  width: 6%;
}

#btnMS313 {
  position: absolute;
  bottom: 10%;
  right: 28%;
  width: 6%;
}

#btnMS41 {
  position: absolute;
  top: 33%;
  left: 47%;
  width: 6%;
}

#btnMS42 {
  position: absolute;
  bottom: 21%;
  left: 36%;
  width: 6%;
}

#btnMS43 {
  position: absolute;
  bottom: 21%;
  right: 36%;
  width: 6%;
}

#btnMS51 {
  position: absolute;
  top: 26%;
  left: 46%;
  width: 6%;
}
#btnMS52 {
  position: absolute;
  top: 44%;
  right: 34%;
  width: 6%;
}
#btnMS53 {
  position: absolute;
  bottom: 16%;
  right: 39%;
  width: 6%;
}
#btnMS54 {
  position: absolute;
  bottom: 16%;
  left: 38%;
  width: 6%;
}
#btnMS55 {
  position: absolute;
  top: 44%;
  left: 32%;
  width: 6%;
}
#btnMS61 {
  position: absolute;
  top: 29%;
  left: 47%;
  width: 6%;
}
#btnMS62 {
  position: absolute;
  bottom: 22%;
  left: 34%;
  width: 6%;
}
#btnMS63 {
  position: absolute;
  bottom: 22%;
  right: 34%;
  width: 6%;
}
#btnMS81 {
  position: absolute;
  bottom: 12%;
  left: 37%;
  width: 6%;
}
#btnMS82 {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 6%;
}
#btnMS83 {
  position: absolute;
  bottom: 12%;
  right: 32%;
  width: 6%;
}
#btnJugar {
  position: absolute;
  bottom: 24%;
  right: 18%;
  width: 25%;
}
#audio {
  position: absolute;
  bottom: 24%;
  left: 18%;
  width: 25%;
  height: 7%;
}

#audio2 {
  position: absolute;
  top: 24%;
  right: 10%;
  width: 30%;
  height: 7%;
}

#audio3 {
  position: absolute;
  bottom: 20%;
  left: 21%;
  width: 30%;
  height: 7%;
}

.audioGR1U1 {
  position: absolute;
  bottom: 33%;
  left: 19%;
  width: 100%;
}

.audioCarmel {
  position: absolute;
  bottom: 10%;
  right: 12%;
  width: 100%;
}

#botonJugar {
  position: absolute;
  bottom: 24%;
  left: 34%;
  width: 32%;
}

#videoAbsoluto {
  position: absolute;
  bottom: 7%;
  left: 15%;
  width: 70%;
}

#boton1MGR2U2 {
  position: absolute;
  bottom: 20%;
  left: 24%;
  width: 4%;
}

#boton2MGR2U2 {
  position: absolute;
  bottom: 20%;
  left: 40%;
  width: 4%;
}

#boton3MGR2U2 {
  position: absolute;
  bottom: 20%;
  right: 40%;
  width: 4%;
}

#boton4MGR2U2 {
  position: absolute;
  bottom: 20%;
  right: 25%;
  width: 4%;
}
