#estrella1 {
  position: absolute;
  bottom: 60%;
  right: 21%;
  width: 10%;
}

#estrella2 {
  position: absolute;
  bottom: 30%;
  right: 10%;
  width: 10%;
}

#estrella3 {
  position: absolute;
  bottom: 10%;
  right: 25%;
  width: 10%;
}

#estrella4 {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 10%;
}

#estrella5 {
  position: absolute;
  top: 10%;
  right: 37%;
  width: 10%;
}

#estrella6 {
  position: absolute;
  top: 12%;
  left: 27%;
  width: 10%;
}

#estrella7 {
  position: absolute;
  top: 35%;
  left: 17%;
  width: 10%;
}

#estrella8 {
  position: absolute;
  bottom: 20%;
  left: 47%;
  width: 10%;
}

#estrella9 {
  position: absolute;
  bottom: 8%;
  left: 17%;
  width: 10%;
}

#estrella10 {
  position: absolute;
  bottom: 30%;
  left: 30%;
  width: 10%;
}

@media only screen and (min-width: 600px) {
  .estrella1 {
    position: absolute;
    top: 550px;
    left: 100px;
  }

  .estrella2 {
    position: absolute;
    top: 550px;
    left: 100px;
  }

  .estrella3 {
    position: absolute;
    top: 200px;
    left: 400px;
  }

  .estrella4 {
    position: absolute;
    top: 650px;
    left: 200px;
  }

  .estrella5 {
    position: absolute;
    top: 600px;
    left: 400px;
  }

  .estrella6 {
    position: absolute;
    top: 650px;
    left: 500px;
  }

  .estrella7 {
    position: absolute;
    top: 300px;
    left: 700px;
  }

  .estrella8 {
    position: absolute;
    top: 500px;
    left: 600px;
  }

  .estrella9 {
    position: absolute;
    top: 400px;
    left: 300px;
  }

  .estrella10 {
    position: absolute;
    top: 130px;
    left: 600px;
  }
}
